WORDPRESS_SITE_URL=https://papayawhip-ram-192369.hostingersite.com
# Optionnel si vous preferez renseigner directement l'endpoint GraphQL
WORDPRESS_GRAPHQL_ENDPOINT=https://papayawhip-ram-192369.hostingersite.com/graphql
