@import "tailwindcss";

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-font/Gilroy-FREE/Gilroy-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-font/Gilroy-FREE/Gilroy-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #ee4b00;
  --color-secondary: #161717;
  --color-tertiary: #f3f6f7;
}

:root {
  --background: var(--color-tertiary);
  --foreground: var(--color-secondary);
  --font-primary: "Alte Haas Grotesk", Arial, sans-serif;
  --font-secondary: "Gilroy", Arial, sans-serif;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
